[Unit]
Description=Periodically check Roblox updates for Mocktail

[Timer]
OnBootSec=5m
OnUnitActiveSec=6h
RandomizedDelaySec=15m
Persistent=true
Unit=mocktail-update.service

[Install]
WantedBy=timers.target
